.contact-form {
    background-color: lightsteelblue;
    padding: 30px;
   width:auto;
    line-height: 200%;
}

label {
    width: 100px;
    text-align: right;
}

input {
   height: 25px;
}
input, textarea {
  background-color: white;
  display: inline-flexbox;
  width: 300px;
  border-radius: 4px;
  border: #97969e solid 3px;
}

.send-btn {
    border: #97969e solid 3px;
    border-radius: 4px;
    padding: 10px;
    display:block;
    width: 310px;
}

.sent-msg {
    background-color: rgb(215, 233, 245);
    border: #97969e solid 3px;
    border-radius: 4px;
    padding: 10px;
    display:block;
    width: 310px;
    margin-left: 20px;
}

